
@{
    ViewBag.Title = "ChiTietThietBi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-title-bar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/quan-ly-phong/tat-ca-loai-phong"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Danh sách thiết bị</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="#">Chi tiết thiết bị</a>
            </li>
        </ol>
    </nav>
    <h1 class="page-title"> Xe ngồi đẩy </h1>
</header>
<div class="page-section">

</div>