
@{
    ViewBag.Title = "Báo cáo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="page-title-bar">
    <div class="d-flex justify-content-between">
        <h1 class="page-title"> Chọn loại phòng </h1>
    </div>
</header>
<div class="page-section">
    <div class="col-md-6 col-12">
        <div class="list-group list-group-bordered mb-3">
            <a href="/bao-cao/chi-tiet-bao-cao-muon-tra-theo-giao-vien" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-success">
                        <i class="fad fa-file-chart-line"></i>
                    </div>
                </div>
                <div class="list-group-item-body"> <b>Báo cáo mượn trả theo giáo viên</b></div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-danger">
                        <i class="fad fa-file-chart-line"></i>
                    </div>
                </div>
                <div class="list-group-item-body"><b> Báo cáo mượn trả theo thiết bị</b></div>
            </a>
            <a href="/bao-cao/chi-tiet-bao-cao-hong-mat" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-warning">
                        <i class="fad fa-file-chart-line"></i>
                    </div>
                </div>
                <div class="list-group-item-body"> <b>Báo cáo thiết bị hỏng - mất</b></div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-info">
                        <i class="fad fa-file-chart-line"></i>
                    </div>
                </div>
                <div class="list-group-item-body"> <b>Báo cáo tình trạng thiết bị theo phòng</b></div>
            </a>
            <a href="/bao-cao/chi-tiet-bao-cao-kiem-ke" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-flickr">
                        <i class="fad fa-file-chart-line"></i>
                    </div>
                </div>
                <div class="list-group-item-body"> <b>Báo cáo tình trạng theo thiết bị</b></div>
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                <div class="list-group-item-figure">
                    <div class="tile bg-apple">
                        <i class="fad fa-file-chart-line"></i>
                    </div>
                </div>
                <div class="list-group-item-body"> <b>Báo cáo khấu hao thiết bị</b></div>
            </a>
        </div>
    </div>
</div>

