
@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-section">
    <div class="card">
        <div class="card-body">
            <div class="py-5 text-center">
                <img src="~/assets/404.svg" width="400"/>
                <h4 class="mt-5 text-muted">Phiếu mượn đã bị hủy bỏ hoặc đã được trả rồi</h4>
            </div>
        </div>
    </div>
</div>

