.tieu-chuan-content .collapse-content .card {
    border: none;
    box-shadow: none;
    margin-bottom: 0px;
}

    .tieu-chuan-content .collapse-content .card .card-header {
        border: none;
        box-shadow: none;
        padding: 0px 0px;
    }

    .tieu-chuan-content .collapse-content .card .card-body {
        border: none;
        box-shadow: none;
        padding: 0px 25px;
    }

.tieu-chuan-content .btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

.tieu-chuan-content .btn {
    padding: 0px;
}
.scrollspy-detail {
    position: relative;
    height: 350px;
    overflow: auto;
}